<div class="container mt-5">
<% if user_signed_in? %>
<center><h4> <%= current_user.name.capitalize  %> Donations  </h4></center>
<% else %>
<center><h4> All Donations</h4></center>
<% end %>
<%if @donations.present? %>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Email</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      
     <% @donations.each do |tt| %>
      <tr>
        <td><%= tt.id %></td>
        <td><%= tt.user.name.capitalize%></td>
        <td><%= tt.user.email %></td>
        <td><%= tt.amount %></td>
      </tr>
      <% end %>
     
 </tbody>
  </table>
 <% else %>
  <div class="container">
    <div class="row ">
      <div class="col-md-3"></div>
    <div class="col-md-6 mg_border">
<center><h5>No Donation Available</h5> Click here for </center>
<%= link_to 'New Donation'.html_safe, new_donation_path, class: "nav-link mr-4 btn btn-danger" %>
</div>
 <div class="col-md-3"></div>
</div>
</div>
      <% end %>

</div>

